*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

header{
    background-color: #4caf50;
    color:#fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

h1{
    margin: 0;
}

nav{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

nav ul li{
    display: inline;
    margin-right: 15px;

}

.close_session{
    margin-left: 200px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hoover{
    text-decoration: underline;
}

main{
    margin-left: 20%;
    max-width: 60%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
}

section{
    margin-bottom: 20px;

}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 5px;
    font-weight: bold;
}

input{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    padding: 10px;
    background-color: #4caf50;
    color:#fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #45a049;
}

footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

table{
    width: 100%;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
}

th{
    background-color: #f2f2f2;
}